<div data-pb-c="page">
  <header class="header">
    <ul>
      <li>
        <a href="#">
          <img src="assets/images/safire-logo.png" alt="logo here" class="logo-image">
        </a>
      </li>
      <div class="mt-N68">
        <li><a href="#">About Us </a></li>
        <li><a href="#">Events </a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Opinions</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </div>
    </ul>
  </header>
  <app-header [data]="content.header"></app-header>
  <app-about-us [data]="content.about_us"></app-about-us>
  <app-news-list [data]="content.news_list"></app-news-list>
</div>
